<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
<ul class="list-group list-group-flush" th:each="user : ${users}">
	<!-- user（UserListクラス）のgetNameメソッドを実行して名前を画面に表示 -->
	<li th:text="${user.name}"></li>
	<td th:text="${user.id}"></td>
	<td><a th:href="@{delete(id=${user.id})}">削除する</a></td>
</ul>
<form action="new" name="user" method="post">
<input type="text" id="name" name="name" class="input">
<input type="text" id="password" name="password" class="input">
<button type="submit">追加</button>
</form>
</div>
</body>
</html>